<div class="row" role="main">
    <div class="col-md-12">
        <h1 class="jumbotron-heading">Image Tagging</h1>
    </div>
    <div class="col-md-12">
        <h4 class="jumbotron-heading">Please enter your username that will be used in on our leaderboard.</h4>
    </div>

    <mdb-card class="col-md-12">

        <mdb-card-header class="header-color white-text text-center py-12">
            <h5>
                <strong>User Detail</strong>
            </h5>
        </mdb-card-header>

        <mdb-card-body class="col-md-12">

            <form
                class="text-center"
                style="color: #757575;"
                [formGroup]="contactForm"
                (ngSubmit)="onSubmit()">

                <div class="md-form mt-3">
                    <input
                        type="text"
                        formControlName="Username"
                        id="Username"
                        class="form-control"
                        mdbInput>
                        <label for="Username">Username</label>
                    </div>

                    <button
                        mdbBtn
                        color="info"
                        outline="true"
                        rounded="true"
                        block="true"
                        class="z-depth-0 my-4 waves-effect"
                        mdbWavesEffect
                        type="submit"
                        [disabled]="disabledSubmitButton">NEXT</button>

                </form>

            </mdb-card-body>

        </mdb-card>
    </div>