<div class="row" role="main">
    <h4 class="jumbotron-heading">Type anything that you think of when seeing this
        picture. Press enter to add more tags.</h4>
    <mdb-card class="col-md-8">

        <mdb-card-header class="header-color white-text text-center py-12">
            <h5>
                <strong>{{arrayIndex}}
                    of 10</strong>
            </h5>
        </mdb-card-header>

        <mdb-card-body class="col-md-12" style="text-align:center">

            <img
                [src]="imgSrc"
                style="max-width:600px;margin:20px;width: 100%;max-height:400px;"
                class="img-fluid"
                alt="Responsive image">

                <tag-input (onAdd)="onItemAdded($event)" [(ngModel)]='items' theme='bootstrap'></tag-input>

                <button
                    mdbBtn
                    (click)="onSubmit()"
                    color="info"
                    outline="true"
                    rounded="true"
                    block="true"
                    class="z-depth-0 my-4 waves-effect"
                    mdbWavesEffect
                    type="submit"
                    [disabled]="disabledSubmitButton">NEXT</button>

            </mdb-card-body>

        </mdb-card>
        <mdb-card class="col-md-4">

            <div style="text-align: center;padding: 10px;" class="col-md-12">

                <h5 style="padding: 5px;    margin-bottom: 35px;">
                    <strong>Tag Counter:
                        {{tagCount}}</strong>
                </h5>
                <h5 style="font-weight: 500;">Earned Items</h5>
                <div
                    style="width: 100%;margin: 6px auto;height: 60px;">

                    <img
                        style="-webkit-filter:blur(4px);filter:blur(4px);"
                        class="img-fluid"
                        width="45px"
                        height="45px"
                        *ngIf="!imgShow1"
                        [src]="virtualSrc1">

                        <img
                            *ngIf="imgShow1"
                            class="img-fluid"
                            width="45px"
                            height="45px"
                            [src]="virtualSrc1">

                            <img
                                style="-webkit-filter:blur(4px);filter:blur(4px);"
                                class="img-fluid"
                                width="45px"
                                height="45px"
                                *ngIf="!imgShow2"
                                [src]="virtualSrc2">

                                <img
                                    *ngIf="imgShow2"
                                    class="img-fluid"
                                    width="45px"
                                    height="45px"
                                    [src]="virtualSrc2">

                                    <img
                                        style="-webkit-filter:blur(4px);filter:blur(4px);"
                                        class="img-fluid"
                                        width="45px"
                                        height="45px"
                                        *ngIf="!imgShow3"
                                        [src]="virtualSrc3">

                                        <img
                                            *ngIf="imgShow3"
                                            class="img-fluid"
                                            width="45px"
                                            height="45px"
                                            [src]="virtualSrc3"></div>

                                        <div
                                            style="width: 220px;height: 220px;margin: auto;">
                                            <img
                                                [ngStyle]="{'opacity': opacity}"
                                                class="img-fluid"
                                                width="200px"
                                                height="200px"
                                                [src]="virtualSrc">
                                                <h6>{{msgVirtual1}}</h6>
                                        </div>
                                            <div class="progress md-progress" style="margin:20px;height: 20px">
                                                <div
                                                    class="progress-bar"
                                                    role="progressbar"
                                                    [ngStyle]="{'width':tagPercentage,'height':'20px'}"
                                                    aria-valuenow="tagPercentage"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100">{{tagPercentage}}</div>
                                            </div>
                                        </div>

                                    </mdb-card>
                                </div>
                                <div
                                    mdbModal
                                    #modal="mdbModal"
                                    class="modal fade"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="myBasicModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button
                                                    type="button"
                                                    class="close pull-right"
                                                    aria-label="Close"
                                                    (click)="modal.hide()">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title w-100" id="myModalLabel">Virtual Item</h4>
                                            </div>
                                            <div style="text-align:center" class="modal-body">
                                                <h4 style="text-align:center">{{msgVirtual2}}</h4>
                                                <img style="text-align:center" width="200px" [src]="modalvirtualSrc"></div>
                                                <div class="modal-footer">
                                                    <button
                                                        type="button"
                                                        mdbBtn
                                                        color="secondary"
                                                        class="waves-light"
                                                        aria-label="Close"
                                                        (click)="modal.hide()"
                                                        mdbWavesEffect>Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>