

<div class="row" role="main">
    <h4 class="jumbotron-heading">Type anything that you think of when seeing this picture. Press enter to add more tags. Also, find 3 perfect tags describing the pictures to get a golden badge. Get a silver badge for the first 10 tags</h4>
  
  <mdb-card class="col-md-12">
  
    <mdb-card-header class="info-color white-text text-center py-12">
      <h5>
        <strong>Image Questionnaire {{arrayIndex}} of 10</strong>
      </h5>
    </mdb-card-header>
  
    <mdb-card-body class="col-md-12" style="text-align:center">
  
        <img [src]="imgSrc" style="max-width:600px;margin:20px;width: 100%;max-height:400px;" class="img-fluid" alt="Responsive image">


        <tag-input [(ngModel)]='items' theme='bootstrap'></tag-input>
  
        <button mdbBtn (click)="onSubmit()" color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">NEXT</button>
  
  
    </mdb-card-body>
  
  </mdb-card>
  </div>