<style>
</style>
<div class="row" *ngIf="!start" role="main">
    <mdb-card class="col-md-12">
        <mdb-card-header
            style="background-color: white !important; "
            class="header-color black-text text-center py-12">
            <h5>
                <strong>Tag as many images as you can. You are competing against other users.</strong>
            </h5>
            <h5>
                <strong>Your overall score , as well as theirs, is shown on the leaderboard</strong>
            </h5>
        </mdb-card-header>
        <button
            (click)="startTagging()"
            mdbBtn
            color="info"
            outline="true"
            rounded="true"
            block="true"
            class="z-depth-0 my-4 waves-effect"
            mdbWavesEffect
            type="submit"
            [disabled]="disabledSubmitButton">Start</button>
    </mdb-card>

</div>
<div class="row" *ngIf="start" role="main">
    <h4 class="jumbotron-heading">Type anything that you think of when seeing this
        picture. Press enter to add more tags. Tag as many images as you can. For every
        tag, you earn one point.</h4>
    <mdb-card class="col-md-8">

        <mdb-card-header class="header-color white-text text-center py-12">
            <h5>
                <strong>
                    {{arrayIndex + 1}}
                    of 10</strong>
            </h5>
        </mdb-card-header>

        <mdb-card-body class="col-md-12" style="text-align:center">

            <img
                [src]="imgSrc"
                style="max-width:600px;margin:20px;width: 100%;max-height:400px;"
                class="img-fluid"
                alt="Responsive image">

                <h3 style="font-weight: 900;margin: 0;">Points</h3>
                <div style="margin:5px auto">
                    <h3 class="points">{{tagCount}}</h3>
                </div>
                <tag-input
                    (onRemove)="onItemRemoved($event)"
                    (onAdd)="onItemAdded($event)"
                    [(ngModel)]='items'
                    theme='bootstrap'></tag-input>

                <button
                    mdbBtn
                    (click)="onSubmit()"
                    color="info"
                    outline="true"
                    rounded="true"
                    block="true"
                    class="z-depth-0 my-4 waves-effect"
                    mdbWavesEffect
                    type="submit"
                    [disabled]="disabledSubmitButton">NEXT</button>

            </mdb-card-body>

        </mdb-card>
        <mdb-card class="col-md-4">
            <div style="display: block;margin: 40px 0px;margin-top: 0;text-align: center;">
                <div style="background-color:#1976d2;height:50px;width:100%;padding: 8px;">
                    <h3 style="color:white">Leaderboard
                    </h3>
                </div>
            </div>
            <div style="display: block">
                <canvas
                    mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </mdb-card>

    </div>