

<div class="row" role="main">
    <h1 class="jumbotron-heading">STEP 3</h1>
  
  <mdb-card class="col-md-12">
  
    <mdb-card-header class="info-color white-text text-center py-12">
      <h5>
        <strong>Image Questionnaire {{arrayIndex}} of 15</strong>
      </h5>
    </mdb-card-header>
  
    <mdb-card-body class="col-md-12" style="text-align:center">
  
        <img [src]="imgSrc" style="max-width:600px;margin:20px;width: 100%;max-height:400px;" class="img-fluid" alt="Responsive image">

        <h2 style="font-weight: 900;">Points: {{tagCount}}</h2>

        <tag-input [(ngModel)]='items' theme='bootstrap'></tag-input>
  
        <button mdbBtn (click)="onSubmit()" color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
          mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">NEXT</button>
  
  
    </mdb-card-body>
  
  </mdb-card>
  </div>