<style>
    .custom-control {
      margin-left: 30px;
    }
    .wrap {
      font:12px Arial, san-serif;
    }
    .statement {
      display:block;
      font-size: 14px;
      font-weight: bold;
      padding: 30px 0 0 4.25%;
      margin-bottom:10px;
    }
    .likert {
      list-style:none;
      width:100%;
      margin:0;
      padding:0 0 35px;
      display:block;
      border-bottom:2px solid #efefef;
    }
    .likert:last-of-type {border-bottom:0;}
    .likert:before {
      content: '';
      position:relative;
      top:11px;
      left:9.5%;
      display:block;
      height:4px;
      width:78%;
    }
    .likert li {
      display:inline-block;
      width:19%;
      text-align:center;
      vertical-align: top;
    }
    .likert li input[type=radio] {
      display:block;
      position:relative;
      top:0;
      left:50%;
      margin-left:-6px;
      
    }
    .likert li label {width:100%;}
    </style>

    <div *ngIf="start" class="row" role="main">
    
      <mdb-card class="col-md-12">
        <div id='surveyElement'></div>
      </mdb-card>

    </div>
    
    <div *ngIf="message" class="row" role="main">
        <mdb-card class="col-md-12" style="min-width: 600px;">
          
            <mdb-card-header class="header-color white-text text-center py-12">
                <h5>
                    <strong>Image Tagging Settings</strong>
                </h5>
            </mdb-card-header>
            <mdb-card-body class="col-md-12">
                <h5>Before you continue with the experiment, ask the experiment supervisor to set it up.</h5>
                <mdb-checkbox *ngIf="!play_continue" [(ngModel)]="game_play_time" name="game_play_time" [default]="true">Game Play 3 Times</mdb-checkbox>
                <h6 *ngIf="play_continue" style="color: red;">* You're playing the game {{time_text}} time.</h6>
                <button
                    mdbBtn
                    (click)="continue()"
                    color="info"
                    outline="true"
                    rounded="true"
                    block="true"
                    class="z-depth-0 my-4 waves-effect"
                    mdbWavesEffect
                    type="submit"
                    [disabled]="disabledSubmitButton">Continue</button>
            </mdb-card-body>
        </mdb-card>

    </div>

    <div *ngIf="setting" class="row" role="main">
        <mdb-card class="col-md-12" style="min-width: 600px;">
    
            <mdb-card-header class="header-color white-text text-center py-12">
                <h5>
                    <strong>Image Tagging Settings</strong>
                </h5>
            </mdb-card-header>
    
            <mdb-card-body class="col-md-12">
    
                <form
                    style="color: #757575;"
                    [formGroup]="contactForm"
                    (ngSubmit)="onSubmit($event)">
    
                    
                        <div class="md-form mt-3">
                          </div>
    
                            <div class="wrap">
                                <h5 style="margin-bottom:25px">1- Baseline, no game elements</h5>
                                <h5 style="margin-bottom:25px">2- Points and Leaderboard</h5>
                                <h5 style="margin-bottom:25px">3- Badges and Challenges</h5>
                                <h5 style="margin-bottom:25px">4- Unlockable Content</h5>
                                <h5 style="margin-bottom:25px">5- Virtual Monster</h5>
                                <mdb-card>
                                    <div class="wrap">
                                          <label class="statement">Select Baseline game <input style="margin: 3px 15px;" type="radio" formControlName="game_setting" value="1"></label>
                                          <label class="statement">Select multi-game option <input style="margin: 3px 15px;" type="radio" formControlName="game_setting" value="6"></label>
                                          <ul class='likert'>
                                                <li>
                                                  <input type="checkbox" formControlName="leader_board" >
                                                  <label>2</label>
                                                </li>
                                                <li>
                                                  <input checked type="checkbox" formControlName="badge_challange" >
                                                  <label>3</label>
                                                </li>
                                                <li>
                                                  <input type="checkbox" formControlName="unlockable">
                                                  <label>4</label>
                                                </li>
                                                <li>
                                                  <input type="checkbox" formControlName="virtural">
                                                  <label>5</label>
                                                </li>
                                          </ul>
                                      </div>
                                  </mdb-card>
                            </div>
    
                                    
                                    <button
                                        mdbBtn
                                        color="info"
                                        outline="true"
                                        rounded="true"
                                        block="true"
                                        class="z-depth-0 my-4 waves-effect"
                                        mdbWavesEffect
                                        type="submit"
                                        [disabled]="disabledSubmitButton">NEXT</button>
    
                                </form>
    
                            </mdb-card-body>
    
                        </mdb-card>
                    </div>
    
                  