/* You can add global styles to this file, and also import other style files */
.table thead tr th span{
  word-break: keep-all;
}
.table {
  thead tr:nth-child(1) th{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 11px 4px;
  }
}
#sat_surveyElement .table thead th {
  position: sticky;
  top: 50px;
  background: white;
}

thead tr th:first-child,thead tr td:first-child,
tbody tr td:first-child {
  width: 250px;
  word-break: break-all;
}

tbody {
  display: block;
  overflow-y: auto;
  height: 550px;
  overflow-x: hidden;
}

thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc( 100% - 1em )
}

.header-color{
  background-color: #1976d2 !important;
}

.jumbotron-heading{
  margin: 25px;
  margin-bottom: 30px;
}

@font-face {
  font-family: myFirstFont;
  src: url(BPdots/Clubland.ttf);
}
@font-face {
  font-family: myFirstFont;
  src: url(BPdots/BPdotsBold.otf);
  font-weight: bold;
}


.points{
  font-family: myFirstFont;
  color: #a52828;
  font-size: 6em;
}

.btn-secondary {
  background-color: #1976d2!important;
  color: #fff;
}